mongo_db_token=
bot_token=
channelId=
universeId=
# To get a universeid from a place id: https://apis.roblox.com/universes/v1/places/PLACEIDHERE/universe
# If you plan to change your universe id later on, delete the current schema in mongo db.
